# @file labeler.yml
# @author @nichxbt
# @copyright (c) 2026 universal-crypto-mcp
# @repository universal-crypto-mcp

name: "Pull Request Labeler"

on:
  - pull_request_target

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v5
        with:
          sync-labels: true



# ucm:n1che53569c8